

<div class  ="art" data-photo-link = {{photoURL}}>
  <div class ="art-contents">
    <div class ="result-image-container">
      <p class = "asciiBox" ></p>
    </div>

    <div class = "result-info-container">
      <a href="#" class="result-title">{{description}}</a> <br> <span class="userIn">{{userInput}}</span>
    </div>
    <textarea rows="4" cols="50" name="comment" form="usrform">
    Enter text here...</textarea>
  </div>
</div>
