<header>
    <div class="header-image-container">
      <img src="https://parse-o-matic.com/common/images/pc-extended-ascii.gif" alt="ASCII ART">
    </div>
    <h1 class="site-title"><a href="#">ASCII ART</a>

      <button id="filter-submit-button" class="action-button">Submit</button></h1>
      <button id="filter-search-button" class="action-button">Search</button>
      <!-- <input type="text" name="filter-text" id="filter-text" class="filter-input"> -->

      <!-- <div class="filter-input-container">
                <label for="filter-category">Category</label>
                <select id="filter-category" class="filter-input" name="filter-category">
                  <option selected value="">Any</option>
                  <option>Animal</option>
                  <option>Person</option>
                  <option>Place</option>
                  <option>Funny</option>
                  <option>Note Worthy</option>
                  <option>Misc</option>
                </select>
              </div> -->
</header>
